<h1 class="display-6">Register loan</h1>
<hr>

<div class="container-fluid">
  <form [formGroup]="loanForm" (ngSubmit)="register()">
    <div class="row">
      <div class="col-3">
        <app-form-input inputName="initialValue" labelName="Initial Value" inputType="number"  [parentFormGroup]="loanForm"/>
      </div>
      <div class="col-3">
        <app-form-input inputName="initialDate" labelName="Initial Date" inputType="date"  [parentFormGroup]="loanForm"/>
      </div>
      <div class="col-3">
        <app-form-input inputName="finalDate" labelName="Final Date" inputType="date"  [parentFormGroup]="loanForm"/>
      </div>
      
      <div class="col-3">
        <app-form-input inputName="relation" labelName="Relation" [selectOptions]="getRelationOptions()" [parentFormGroup]="loanForm"/>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-light">Save</button>
  </form>
</div>
