<h1 class="display-6">Register loan</h1>
<hr>

<div class="container-fluid">
  <form [formGroup]="loanForm" (ngSubmit)="register()">
    <div class="row">
      <div class="col-3">
        <app-form-input inputName="initialValue"  inputType="number"  [parentFormGroup]="loanForm"/>
      </div>
      <div class="col-3">
        <app-form-input inputName="initialDate" inputType="date"  [parentFormGroup]="loanForm"/>
      </div>
      <div class="col-3">
        <app-form-input inputName="finalDate" inputType="date"  [parentFormGroup]="loanForm"/>
      </div>
      
      <div class="col-3">
        <app-form-input inputName="relation"  [selectOptions]="getRelationOptions()" [parentFormGroup]="loanForm"/>
      </div>
    </div>
    <br>
    <button type="submit" [disabled]="!loanForm.valid" class="btn btn-outline-light">Save</button>
  </form>
</div>
