<h1 class="display-6">{{clientCpf? 'Edit client':'Register client'}}</h1>
<hr>
<div class="container-fluid">
  <form [formGroup]="clientForm" (ngSubmit)="registerOrEdit()" >
    <div class="row">
      <div class="col-4">
        <app-form-input inputName="cpf"  [parentFormGroup]="clientForm" 
        inputMask="000.000.000-00"
        [isReadOnly]="clientCpf ? true : false"/>
      </div>
      <div class="col-4">
        <app-form-input inputName="phoneNumber"  
        inputMask="(00) 00000-0000||+00 (00) 00000-0000"
        [parentFormGroup]="clientForm"/>
      </div>
     
      <div class="col-4">
        <app-form-input inputName="monthlyIncome" inputType="number" [parentFormGroup]="clientForm"/>
      </div>
      
    
      <h2 class="lead">Address</h2>
      <div class="col-4">
        <app-form-input inputName="cep"
        inputMask="00000-000"
        [parentFormGroup]="clientForm"/>
      </div>
      
      <div class="col-6">
        <app-form-input inputName="streetName" [parentFormGroup]="clientForm"/>
      </div>
     
      <div class="col-2">
        <app-form-input inputName="streetNumber" inputType="number" [parentFormGroup]="clientForm"/>
      </div>
      
    </div>
      <button type="submit" [disabled]="!clientForm.valid" class="btn btn-outline-light">Save</button>
  </form>
</div>